@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'mixins';
 
body { 
    margin: 0;
    background-color: $mainBgColor; 

    &::-webkit-scrollbar {
        width: 0;
    }

    font-family: 'Arial', sans-serif;
}

.engine-wrapper {
    height: 100%;
    width: 100%;
    
    canvas {
        height: 100%;
        width: 100%;
        cursor: crosshair;

        &:focus {
            outline: none;
        }
    }
}
 
.content {
    max-width: 900px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.contents {
    max-width: 900px;
    margin: auto;
}

.visualizer {
    width: 100%;
    min-height: 400px;
}

.rv-panel {
    box-shadow: $z1-shadow;
    border: 1px solid $primary;

    &.rv-main {
        height: 60vh;
    }
}

.rv-card {
    box-shadow: $z1-shadow;
    display: inline-block;
    background: $highlight;
    padding: 4px 12px;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;

    &.filtering {
        background: darken($highlight, 5);
    }
}

button.rv-button {
    padding: 4px 12px;
    margin: 8px 0 8px 8px;
    background: none;
    border: none;
    outline: none;
    background: $primary;
    box-shadow: $z1-shadow;

    &:hover {
        background: $highlight
    }

    &:active {
        background: darken($primary, 2);
    }
}

h2 {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    position: sticky;
    top: 0;
    background: white;
    height: 46px;
    
    &.title-left {
        text-align: left;
    }
    
    &.title-right {
        text-align: right;
    }
}

h3 {

}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: $highlight;
}

::-webkit-scrollbar-thumb {
    background: darken($color: $primary, $amount: 10);
}
